<section class="franja franja-b" data-aos="fade-up">
  <div class="contact-section">
    <p class="contact-section__text">
      ¿Tienes alguna duda? Escríbenos a
      <strong>info@jornadascocina.es</strong>
    </p>
  </div>

  <hr class="separator" />

  <div
    class="nav-bottom d-flex justify-content-between align-items-center w-100 px-4"
  >
    <div class="nav-bottom__brand">
      <a class="nav-link" href="./index.html">
        <img src="./assets/images/logo.png" alt="Logo" width="150" />
      </a>
    </div>
    <nav class="nav-bottom__links">
      <a href="./participantes.html" class="px-2">Ponentes</a>
      <a href="./articulo.html" class="px-2">Blog</a>
      <a href="./recetario.html" class="px-2">Recetas</a>
    </nav>
    <div class="nav-bottom__social">
      <a href="#"><i class="fab fa-google-plus-g px-2"></i></a>
      <a href="#"><i class="fab fa-facebook-f px-2"></i></a>
      <a href="#"><i class="fab fa-x-twitter px-2"></i></a>
    </div>
  </div>
</section>
