@use "sass:map";
@use "variables" as vars;

@mixin responsive($size) {
  @if map.has-key(vars.$breakpoints, $size) {
    $breakpoint-value: map.get(vars.$breakpoints, $size);

    // stylelint-disable-next-line media-query-no-invalid
    @media (min-width: #{$breakpoint-value}) {
      @content;
    }
  } @else {
    @error "El breakpoint '#{$size}' no existe en $breakpoints.";
  }
}
